openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: https://registry-rest-api.projects.epam.com
    description: Generated server url
paths:
  /some-sc:
    get:
      summary: отримати список ресурсів
      description: Використовується для отримання об’єктів. Не змінює стан ресурсу
      operationId: search
      parameters:
        - name: searchConditions
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PageableSearchConditions'
        - name: X-Access-Token
          in: header
          required: false
          schema:
            type: string
        - name: X-Digital-Signature
          in: header
          required: false
          schema:
            type: string
        - name: X-Digital-Signature-Derived
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-System
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Application
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process-Definition-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process-Instance-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Activity
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Activity-Instance-Id
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK з результатом
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/PageableSearchConditionResponse'
        '400':
          description: Некоректні вхідні дані (наприклад, неправильний тип поля)
        '401':
          description: Помилка аутентифікації (відсутній токен або цифровий підпис)
        '500':
          description: Внутрішня помилка сервера
        '501':
          description: Не імплементовано (використовується для заглушок)

    post:
      summary: отримати список ресурсів
      description: Використовується для отримання об’єктів. Не змінює стан ресурсу
      operationId: search
      parameters:
        - name: searchConditions
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PageableSearchConditions'
        - name: X-Access-Token
          in: header
          required: false
          schema:
            type: string
        - name: X-Digital-Signature
          in: header
          required: false
          schema:
            type: string
        - name: X-Digital-Signature-Derived
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-System
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Application
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process-Definition-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process-Instance-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Activity
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Activity-Instance-Id
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK з результатом
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageableSearchConditionResponse'
        '400':
          description: Некоректні вхідні дані (наприклад, неправильний тип поля)
        '401':
          description: Помилка аутентифікації (відсутній токен або цифровий підпис)
        '500':
          description: Внутрішня помилка сервера
        '501':
          description: Не імплементовано (використовується для заглушок)
components:
  schemas:
    PageableSearchConditions:
      type: object
      properties:
        someEqualColumn:
          type: string
        someInColumn:
          type: array
          items:
            type: string
    PageableSearchConditionResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExampleDataResponse'
    ExampleDataResponse:
      type: object
      properties:
        someId:
          type: string
        someEqualColumn:
          type: string
        someInColumn:
          type: string