openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
  - url: https://registry-rest-api-mdtu-ddm-edp-cicd-platform-demo.apps.cicd2.mdtu-ddm.projects.epam.com
    description: Generated server url
paths:
  "/get-requests-by-name":
    get:
      tags:
        - get-requests-by-name-search-controller
      summary: отримати список ресурсів
      description: Використовується для отримання об’єктів. Не змінює стан ресурсу
      operationId: search_29
      parameters:
        - name: searchConditions
          in: query
          required: true
          schema:
            "$ref": "#/components/schemas/GetRequestsByNameSearchConditions"
        - name: X-Access-Token
          in: header
          required: false
          schema:
            type: string
        - name: X-Digital-Signature
          in: header
          required: false
          schema:
            type: string
        - name: X-Digital-Signature-Derived
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-System
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Application
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process-Definition-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Process-Instance-Id
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Activity
          in: header
          required: false
          schema:
            type: string
        - name: X-Source-Business-Activity-Instance-Id
          in: header
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK з результатом
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/GetRequestsByNameSearchConditionResponse"
        '400':
          description: Некоректні вхідні дані (наприклад, неправильний тип поля)
        '401':
          description: Помилка аутентифікації (відсутній токен або цифровий підпис)
        '500':
          description: Внутрішня помилка сервера
        '501':
          description: Не імплементовано (використовується для заглушок)
components:
  schemas:
    GetRequestsByNameSearchConditions:
      type: object
      properties:
        offset:
          type: integer
          format: int32
        limit:
          type: integer
          format: int32
        name:
          type: string
    GetRequestsByNameSearchConditionResponse:
      type: object
      properties:
        katottg:
          type: string
        requestByKatottgId:
          type: string
          format: uuid
        name:
          type: string