.navbar {
    background: #015ABC;
}

.navbar-brand {
    justify-content: center;
    align-items: center;
}

.navbar-brand img.site-logo {
    height: 2.5rem;
    display: flex;
}

.navbar-brand a.site-title {
    font-size: 1.0rem;
}

footer.footer {
    background-color: #015ABC;
    color: #ffffff;
    padding: 1rem;
}

footer.footer img.made-in-ua-logo {
<<<<<<< Updated upstream
    display: inline-block;
    float: right;
=======
    float: right;
    display: inline-block;
>>>>>>> Stashed changes
    height: 3rem;
}

footer.footer p {
    display: inline-block;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    font-size: .875em;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    font-size: .875em;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    font-size: .875em;
}

#search-input {
    color: #fff;
    font-size: .875em;
    background-color: #015ABC;
    border-radius: 0.2em;
    border: 1px solid #fff;
}

#search-field {
    align-items: center;
}

#search-field svg {
    margin-right: 4px;
}