img.site-logo {
    height: 2.5rem;
    display: flex;
}

a.site-title {
    font-size: 1.0rem;
}

.navbar-brand {
    justify-content: center;
    align-items: center;
}

.navbar {
    background: #015ABC;
}

footer.footer {
    background-color: #015ABC;
    color: #ffffff;
    padding: 1rem;
}