.page-languages {
    margin-right:.7rem;
    position: relative;
    line-height: 1
}

.page-languages .language-menu-toggle {
    color: inherit;
    background: url(../../img/chevron.svg) no-repeat;
    background-position: right .5rem top 50%;
    background-size: auto .75em;
    border: none;
    outline: none;
    line-height: inherit;
    padding: .5rem 1.5rem .5rem .5rem;
    position: relative;
    z-index: 3
}

.page-languages .language-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background: -webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#f0f0f0)) no-repeat;
    background: linear-gradient(180deg,#f0f0f0 0,#f0f0f0) no-repeat;
    padding: 1.375rem 1.5rem .5rem .5rem;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap
}

.page-languages:not(.is-active) .language-menu {
    display: none
}

.page-languages .language {
    display: block;
    padding-top: .5rem
}

.page-languages .language.is-current {
    display: none
}

.page-languages .language.is-missing {
    color: #8e8e8e;
    font-style: italic;
    text-decoration: none
}
