<article class="doc">
<h1 class="page">{{{or page.title 'Сторінку не знайдено'}}}</h1>
<div class="paragraph">
<p>Сторінка яку ви шукали не існує. Її могли перемістити. Ви можете{{#with site.homeUrl}} повернутись на <a href="{{{this}}}">Головну сторінку</a>, або{{/with}} перейти за одним з посилань з навігаційного меню ліворуч.</p>
</div>
<div class="paragraph">
<p>Якщо ви потрапили на цю сторінку за посиланням, будь ласка, повідомте власника сайту про те, що посилання не працює.
    Якщо ви набрали URL-адресу цієї сторінки вручну, перевірте, чи правильно ви її ввели.</p>
</div>
</article>
