<footer class="footer">
    <p>{{#if (eq page.attributes.lang 'ua')}}© 2024 Платформа Реєстрів.{{else}}© 2024 The Registries Platform.{{/if}}</p>
    <img src="{{uiRootPath}}/static/images/made-in-ua.png" class="made-in-ua-logo"/>
</footer>