<footer class="footer">
    <p>© 2023 Платформа Реєстрів.</p>
<<<<<<< Updated upstream
<!--    <img src="{{uiRootPath}}/static/images/made-in-ua.png" class="made-in-ua-logo"/>-->
=======
    <img src="{{uiRootPath}}/static/images/made-in-ua.png" class="made-in-ua-logo"/>
>>>>>>> Stashed changes
</footer>