<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="#">Платформа для розгортання та супроводження державних електронних реєстрів</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Repositories</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Templates</strong></div>
            <a class="navbar-item" href="https://gitbud.epam.com/mdtu-ddm/data-architecture/application/template-rest-api">REST API</a>
            <a class="navbar-item" href="https://gitbud.epam.com/mdtu-ddm/data-architecture/application/template-kafka-api">Kafka API</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Environments</div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item"><strong>Dev</strong></div>
            <a class="navbar-item" href="https://console-openshift-console.apps.cicd.mdtu-ddm.projects.epam.com/k8s/ns/mdtu-ddm-edp-cicd-dataplatform-pipe-dev/deployments">OKD</a>
            <a class="navbar-item" href="https://jenkins-mdtu-ddm-edp-cicd.apps.cicd.mdtu-ddm.projects.epam.com/view/DATA-PLATFORM/job/dataplatform-pipe-cd-pipeline/job/dev/">Jenkins CD</a>
          </div>
        </div>
        <a class="navbar-item" href="https://edp-admin-console-mdtu-ddm-edp-cicd.apps.cicd.mdtu-ddm.projects.epam.com/">EDP</a>
      </div>
    </div>
  </nav>
</header>
