<main class="article">
    {{> toolbar}}
    <div class="content">
        {{#if (eq page.layout '404')}}
            {{#if (eq page.attributes.lang 'en')}}
                {{> article-404-en}}
            {{else}}
                {{> article-404-ua}}
            {{/if}}
        {{else}}
            {{> toc}}
            {{> article}}
        {{/if}}
    </div>
</main>