<div class="page-languages">
  <div class="language-menu">
    <a class="language" href="{{siteRootPath}}/../en{{page.url}}">English</a>
    <a class="language" href="{{siteRootPath}}/../ua{{page.url}}">Українська</a>
  </div>
</div>
