<div class="page-languages">
    <select class="navigation-select">
        <option class="navigation-select-option" href="{{siteRootPath}}/../en{{page.url}}" {{#if (eq page.attributes.lang 'en')}}selected{{/if}}>English</option>
        <option class="navigation-select-option" href="{{siteRootPath}}/../ua{{page.url}}" {{#if (eq page.attributes.lang 'ua')}}selected{{/if}}>Українська</option>
    </select>
</div>
