<div class="page-languages">
    <button class="language-menu-toggle" title="Show other languages of page">Українська</button>
    <div class="language-menu">
        <a class="language {{#if (eq page.attributes.lang 'ua')}}is-current{{/if}}" href="{{siteRootPath}}/../ua{{page.url}}">Українська</a>
        <a class="language {{#if (eq page.attributes.lang 'en')}}is-current{{/if}}" href="{{siteRootPath}}/../en{{page.url}}">English</a>
    </div>
</div>